#	Copyright (c) 1993 Sun Microsystems, Inc.
#		All Rights Reserved
#	@(#)pkginfo.tmpl	1.9	96/07/30 (c) Sun Microsystems, Inc.
#
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG=SUNW0adm
NAME=Localizable admin
ARCH=all
VERSION="6.5,REV=1.0"
PRODNAME="SunOS"
PRODVERS="RELEASE/VERSION"
SUNW_PKGTYPE=root
SUNW_LOC=C
SUNW_PKGLIST=SUNWinst,SUNWhinst,SUNWadmap,SUNWadmr,SUNWadmc,SUNWsadml,SUNWswmt
MAXINST=1000
CATEGORY=system
DESC="Message files for L10N"
VENDOR=Sun Microsystems, Inc.
HOTLINE=Please contact your local service provider
EMAIL=
CLASSES=none
BASEDIR=/
