#	Copyright (c) 1996 Sun Microsystems, Inc.
#		All Rights Reserved
#	@(#)pkginfo.tmpl	1.5	96/03/29 (c) Sun Microsystems, Inc.
#
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
 
PKG="SUNWssaop"
NAME="SPARCstorage Array Utility"
ARCH="sparc"
CATEGORY="system"
BASEDIR=/
SUNW_PKGTYPE="usr"
CLASSES="none"
DESC="administration utilities and firmware for the SPARCstorage Array (SSA)"
PRODNAME="SunOS"
PRODVERS="RELEASE/VERSION"
VERSION="11.5.1,REV=0.0.0"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
MAXINST="1000"
