#       Copyright (c) 1995 Sun Microsystems, Inc.
#               All Rights Reserved
#
#
#pragma ident	"@(#)pkginfo.tmpl	1.15	95/08/25 SMI"
#
# This required package information file describes characteristics 
# of the package, such as package abbreviation, full package name, 
# package version, and package architecture.

ARCH="ISA"
BASEDIR=/
CATEGORY="system"
CLASSES="none"
DESC="software development utilities, including ar, dis, dump, lex, lorder, mcs, nm, prof, ranlib, rpcgen, size, strip, tsort, and yacc"
EMAIL=""
HOTLINE="Please contact your local service provider"
MAXINST="1000"
NAME="CCS tools bundled with SunOS"
PKG="SUNWbtool"
SUNW_PKGTYPE="usr"
PRODNAME="SunOS"
PRODVERS="RELEASE/VERSION"
VENDOR="Sun Microsystems, Inc."
VERSION="11.5.1,REV=0.0.0"
