#
# Copyright (c) 1993 - 1996, by Sun Microsystems, Inc.
# All rights reserved.
#
#ident	"@(#)pkginfo.tmpl	1.8	96/07/25 SMI"
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG="SUNWpmu"
NAME="Power Management binaries"
ARCH="ISA"
VERSION="11.5.1,REV=0.0.0"
CATEGORY="system"
PRODNAME="SunOS"
PRODVERS="RELEASE/VERSION"
DESC="Power Management binaries"
BASEDIR=/
SUNW_PKGTYPE="usr"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
MAXINST="1000"
CLASSES="none"
