/usr/snadm/etc/host.icon "Host Manager" /usr/snadm/bin/hostmgr
/usr/snadm/etc/printmgr.icon "Printer Manager" /usr/snadm/bin/printmgr
/usr/snadm/etc/user.icon "User Account Manager" /usr/snadm/bin/usermgr
/usr/snadm/etc/database.icon "Database Manager" /usr/snadm/bin/dbmgr
/usr/snadm/etc/serial.icon "Serial Port Manager" /usr/snadm/bin/serialmgr
/usr/snadm/etc/groupmgr.icon "Group Manager" /usr/snadm/bin/groupmgr
