#	Copyright (c) 1990-92 Sun Microsystems, Inc.
#		All Rights Reserved
#
#	@(#)pkginfo.tmpl	1.9	95/06/16 (c) Sun Microsystems, Inc.
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.

PKG="SUNWlpmsg"
NAME="LP Alerts"
ARCH="ISA"
VERSION="6.5,REV=1.0"
PRODNAME="SunOS"
PRODVERS="5.5"
SUNW_PKGTYPE="root"
BASEDIR="/"
DESC="ToolTalk programs for passing printer alerts."
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
CLASSES="none"
CATEGORY="system"
MAXINST=1000
