#
# Copyright (c) 1995 - 1996, by Sun Microsystems, Inc.
# All rights reserved.
#
#ident	"@(#)pkginfo.tmpl	1.7	96/07/25 SMI"
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG="SUNWcpr"
NAME="Suspend, Resume package"
ARCH="sparc.sun4u"
VERSION="11.5.1,REV=0.0.0"
CATEGORY="system"
PRODNAME="SunOS"
PRODVERS="RELEASE/VERSION"
DESC="Suspend, Resume package"
BASEDIR=/
SUNW_PKGTYPE="root"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
MAXINST="1000"
CLASSES="none"
