#	Copyright (c) 1995 Sun Microsystems, Inc.
#		All Rights Reserved
#	@(#)pkginfo.tmpl	1.70	95/08/25 (c) Sun Microsystems, Inc.
#
#
# This required package information file describes characteristics of the
# package, such as package abbreviation, full package name, package version,
# and package architecture.
#
PKG="SUNWloc"
NAME="System Localization"
ARCH="ISA"
VERSION="11.5.2,REV=0.0.0"
PRODNAME="SunOS"
PRODVERS="RELEASE/VERSION"
SUNW_PKGTYPE="usr"
MAXINST="1000"
CATEGORY="system"
DESC="localization utilities and C locale (POSIX default) definitions"
VENDOR="Sun Microsystems, Inc."
HOTLINE="Please contact your local service provider"
EMAIL=""
CLASSES="none"
BASEDIR=/
#PSTAMP="<developer defined>"
